.NavBar {
  background: #f1f1f1;
  display: flex;
  margin: 0px 0px 0px 0px; /* TRBL */
  align-items: center;
  list-style: none;
  justify-content: space-around;
  padding: 15px 15px 50px 15px;
}

.NavBar-logo {
  font-size: 25px;
  font-weight: bold;
}

.NavBar-newtork select {
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}
