
.SelectAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.SelectAction .SelectAction-body {
  display: flex;
  justify-content: center;
}

.SelectAction .SelectAction-body .Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin-right: 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.SelectAction .SelectAction-body .Box p {
  margin-top: 20px;
  margin-bottom: 20px;
}
